<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.breezer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/medtimelogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.breezer.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.breezer.PrescriptionActivity"
            android:label="@string/title_activity_prescription" >
        </activity>
        <activity
            android:name="com.example.breezer.NewPrescriptionActivity"
            android:label="@string/title_activity_new_prescription" >
        </activity>
        <activity
            android:name="com.example.breezer.SymptomsActivity"
            android:label="@string/title_activity_symptoms" >
        </activity>
        <activity
            android:name="com.example.breezer.OptionsActivity"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.example.breezer.PrescriptionDatabaseActivity"
            android:label="@string/title_activity_prescription_database" >
        </activity>
        <activity
            android:name="com.example.breezer.EditPrescriptionActivity"
            android:label="@string/title_activity_edit_prescription" >
        </activity>
        <activity
            android:name="com.example.breezer.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="com.example.breezer.SymptomIntensityActivity"
            android:label="@string/title_activity_symptom_intensity" >
        </activity>
        <activity
            android:name="com.example.breezer.SymptomBodyActivity"
            android:label="@string/title_activity_symptom_body" >
        </activity>
    </application>

</manifest>